@import url('https://fonts.googleapis.com/css?family=Kavivanar|Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
}
.container {
	width: 75%;
	background-color: #FFEBCD;
}
h1 {
	font-family: 'Kavivanar';
	font-weight: bold;
	text-transform: uppercase;
}
h2 {
	font-family: 'Roboto';
	font-style: italic;
}
p {
	padding-top: 20px;
}
.footer {
	background-color: #000000;
}
.footer p {
	color: #FFFFFF;
	padding-top: 30px;
}
